# TODO: Write some background information and details on how this
#   stays clean and organized.
# TODO: This file USUALLY matches gitignore for ease.

# === General Stuff ===
# System
.DS_Store

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local Env
.env

# Build Folder Ignores
/dist
/build

# === Language Specific ===
# Node
node_modules

# Node - Log Files
npm-debug.log*
yarn-debug.log*
yarn-error.log*






