# GITIGNORE
# In order to keep remote repositories free of files specific to an
# individual's development environment, certain files should not be committed
# to the remote repository. We have attempted to define 2 categories of files:
# General Stuff and Language Specific. Within each category is a heading
# giving a clue to developers why a file/directory is ignored. Each rule under
# a heading should be in alphabetical order.
#

# === General Stuff ===
# System
.DS_Store

# Editor directories and files
.idea
.vscode
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
gen
out

# Local Env
.env

# Logs
logs
*.log

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Build Output
/dist
/build
/public
.cache
.grunt
.next
.nuxt

# === Language Specific ===
# Node
node_modules

# Node - Log Files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# node-waf configuration
.lock-wscript

# Code Coverage output
lib-cov
