// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
  padding: 1rem;
  border-bottom: 1px solid;

  a {
    padding: 0.5rem;
  }
}
