<!doctype html>
<html class="no-js" lang="en">

<head>
  {{> head }}
</head>

<body>
  <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  {{! Add your site or application content here }}
  <main role="main" class="container home">
    <div class="row">
      <div class="col">
        <h1>Fusion Starter Kit</h1>
        <p>Enforcing a consistent approach to start up new projects at Fusion Alliance.</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        {{> exampleComponent }}
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2>Test Images:</h2>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md">
        <h3>GIF</h3>
        <p><img src="/assets/img/fpo-test.gif" alt="GIF image test"></p>
      </div>
      <div class="col-md">
        <h3>JPG</h3>
        <p><img src="/assets/img/fpo-test.jpg" alt="JPG image test"></p>
      </div>
      <div class="col-md">
        <h3>PNG</h3>
        <p><img src="/assets/img/fpo-test.png" alt="PNG image test"></p>
      </div>
      <div class="col-md">
        <h3>SVG</h3>
        <p><img src="/assets/img/fpo-test.svg" alt="SVG image test"></p>
      </div>
      <div class="col-md">
        <h3>WEBP</h3>
        <p><img src="/assets/img/fpo-test.webp" alt="WEBP image test"></p>
      </div>
    </div>
  </div>

  {{> scripts }}
</body>
</html>
