<meta charset="utf-8">
<title>Fusion Starter Kit</title>
<meta name="description" content="Enforcing a consistent approach to start up new projects at Fusion Alliance.">
<meta name="viewport" content="width=device-width, initial-scale=1">

{{! <link rel="manifest" href="site.webmanifest"> }}
<link rel="apple-touch-icon" href="icon.png">
{{! Place favicon.ico in the root directory }}

<meta name="theme-color" content="#fafafa">
