<!doctype html>
<html class="no-js" lang="en">

<head>
  <%- include('head') -%>
</head>

<body>
  <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <!-- Add your site or application content here -->
  <p>Hello world! This is HTML5 Boilerplate.</p>
  <section>
    <%- include('exampleComponent') -%>
  </section>
  <%- include('scripts') -%>
</body>
</html>
